<template>
  <div class="container">
    <section class="canvas-wrapper">
      <DotsCanvas class="canvas"
                  ref="canvas"
                  :width="canvasRealWidth"
                  :height="canvasRealHeight"
                  :min-speed="config.minSpeed"
                  :max-speed="config.maxSpeed"
                  :line-width="config.lineWidth"
                  :full-line-width-points-distance="config.fullLineWidthPointsDistance"
                  :max-points-distance="config.maxPointsDistance"
                  :points-number="config.pointsNumber"
                  :gravity-power="config.gravityPower"
                  :background-color="config.backgroundColor"
                  :line-color="config.lineColor"
                  :point-color="config.pointColor"
                  :point-size="config.pointSize"
                  :gravity-color="config.showGravity ? config.gravityColor : null"
                  :splashes-color="config.showSplashes ? config.splashColor : null"
                  :splash-size="config.splashSize"
                  :max-splashes-frames="config.maxSplashesFrames"
                  :show-mouse-cursor-lines="config.showMouseCursorLines"
      />
    </section>
    <section class="settings">
      Number of points
      <input type="number" min="0" v-model.number="config.pointsNumber">
      Point size
      <input type="number" min="0" v-model.number="config.pointSize">
      Point color
      <input type="color" v-model="config.pointColor">
      Minimal speed
      <input type="number"
             min="5"
             v-model.number="config.minSpeed"
             @change="config.maxSpeed = Math.max(config.maxSpeed, config.minSpeed)">
      Maximal speed
      <input type="number"
             :min="config.minSpeed"
             v-model.number="config.maxSpeed">
      <hr/>
      Line width
      <input type="number" min="0" v-model.number="config.lineWidth">
      Distance on what line has full width
      <input type="number"
             min="0"
             v-model.number="config.fullLineWidthPointsDistance"
             @change="config.maxPointsDistance = Math.max(config.maxPointsDistance, config.fullLineWidthPointsDistance)">
      Max line drawing distance
      <input type="number" :min="config.fullLineWidthPointsDistance" v-model.number="config.maxPointsDistance">
      Line color
      <input type="color" v-model="config.lineColor">
      <span>
        Show mouse cursor lines
        <input type="checkbox" v-model="config.showMouseCursorLines">
      </span>
      <hr/>
      Power of gravity
      <input type="number" min="0" v-model.number="config.gravityPower">
      <span>
        Show gravity
        <input type="checkbox" v-model="config.showGravity">
      </span>
      <template v-if="config.showGravity">
        Gravity color
        <input type="color" v-model="config.gravityColor">
      </template>
      <hr/>
      <span>
        Splashes enabled
        <input type="checkbox" v-model="config.showSplashes">
      </span>
      <template v-if="config.showSplashes">
        Splashes size
        <input type="number" min="1" v-model="config.splashSize">
        Splashes duration in frames
        <input type="number" min="1" v-model="config.maxSplashesFrames">
        Splashes color
        <input type="color" v-model="config.splashColor">
      </template>
      <hr/>
      Background color
      <input type="color" v-model="config.backgroundColor">
    </section>
  </div>
</template>
<script lang="ts">
import DotsCanvas from "@/components/DotsCanvas.vue";
import {defineComponent} from "vue";

export default defineComponent({
  name: "App",
  components: {DotsCanvas},
  data: () => ({
    canvasRealWidth: window.innerWidth,
    canvasRealHeight: window.innerHeight,
    config: {
      minSpeed: 50,
      maxSpeed: 500,
      lineWidth: 3,
      fullLineWidthPointsDistance: 100,
      maxPointsDistance: 250,
      pointsNumber: 50,
      gravityPower: 1,
      backgroundColor: "#000000",
      lineColor: "#ffffff",
      pointColor: "#ffffff",
      pointSize: 3,
      showGravity: false,
      gravityColor: "#349293",
      showSplashes: false,
      splashColor: "#00ff00",
      splashSize: 20,
      maxSplashesFrames: 10,
      showMouseCursorLines: false
    }
  }),
  methods: {
    updateCanvasRealSize() {
      const el = (this.$refs.canvas as any).$el as HTMLElement
      const rect = el.getBoundingClientRect()
      this.canvasRealWidth = rect.width
      this.canvasRealHeight = rect.height
    }
  },
  mounted() {
    this.updateCanvasRealSize()
    window.addEventListener('resize', this.updateCanvasRealSize)
  },
  beforeUnmount() {
    window.removeEventListener('resize', this.updateCanvasRealSize)
  }
})
</script>
<style scoped>
.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
}
.canvas-wrapper {
  flex-grow: 1;
  position: relative;
}
.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.settings {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  overflow: auto;
}
hr {
  margin: 0.5em;
}
</style>